@inject IJSRuntime js

<div style="display: flex; flex-wrap: wrap; align-items: center;">
<ListadoGenerico Listado="Peliculas">
    <HayRegistro Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" />

    </HayRegistro>
</ListadoGenerico>
</div>

@code {

    [Parameter] public List<Pelicula> Peliculas { get; set; }


    async Task EliminarPelicula(Pelicula pelicula)
    {

        var confirmado = await js.Confirm($"desea borrar la pelicula?: { pelicula.Titulo }");
        if (confirmado)
        {
            Peliculas.Remove(pelicula);
            Console.WriteLine($"Se ha eliminado una pelicula { pelicula.Titulo }");
        }
    }

}