<EditForm Model="Cine" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Cine.Nombre" />
            <ValidationMessage For="@(() => Cine.Nombre)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>

@code {
    [Parameter] public Cine Cine { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
