@page "/personas/editar/{PersonaId:int}"
@inject IRepositoriocs repositorio
@inject IMostrarMensajes mostrarMensaje
@inject NavigationManager navigationManager

<h3>Editar Persona</h3>

@if (persona == null)
{
    <text>Cargando...</text>
}
else
{
    <FormularioPersonas OnValidSubmit="Editar" Persona="persona" />
}

@code {
    [Parameter] public int PersonaId { get; set; }

    Persona persona;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Persona>($"api/personas/{PersonaId}");

        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("generos");
            }
            else
            {
                await mostrarMensaje.MostrarMensajesError(await httpResponse.GetBody());
            }
        }
        else
        {
            persona = httpResponse.Response;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put("api/personas", persona);
        if (httpResponse.Error)
        {
            await mostrarMensaje.MostrarMensajesError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("personas");
        }
    }
}
